/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}
.half-width {
  width: 50%;
  float: left;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
nav ul {
  float: right;
}
nav li {
  display: inline;
}