/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Roboto', sans-serif;
}


/******************************************  */
/* LAYOUT */
/*******************************************/
header {

}

footer {
  /* min-height: 100px; */
  padding: 40px;
  overflow: auto;
}
footer>nav {
  width: 75%;
  float: left;
}
.contact-info {
  width: 25%;
  float: left;
}
.row {
  min-height: 60vh;
} 
@media screen and (max-width: 900px) { 
  .row {
    min-height: 40vh;
  }  
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header {
  padding: 2%;
}
.primary-row, .primary-row a {
  background-color: rgb(127, 137, 170);
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
  font-weight: bold;
}
.nav-left {
  float: left;
  margin: 1%;
}
a.nav-right {
  float: right;
  background-color: white;
  color: rgb(127, 137, 170);
  border: 1px solid white;
  border-radius: 3px;
  padding: .5em;
  box-sizing: border-box;
}
.nav-logo {
  height: 2em;
  vertical-align: middle;
}
.icon {
  height: 1.3em;
  vertical-align: middle;
}
.row {
  padding: 3% 0;
}
.primary-row p {
  width: 80%;
  margin: auto;
}
.primary-row {
  padding-top: 0;
}
h2, h3 {
  text-align: center;
}
.watch-vid {
  display: inline-block;
  margin: 2% 0;
}
.row p{
  width: 50%;
  margin: auto;
}
.alt-row {
  background-color: rgb(196, 200, 207);
  padding: 0;
}
.alt-row > section{
  width: 50%;
  float: left;
  height: 600px;
  overflow: hidden;
}
.img-placeholder {
  box-sizing: content-box;
  height: 30%;
  aspect-ratio: 16/9;
  background-color: rgb(127, 137, 170);
  margin: 36px auto;
}
footer {
  background-color: rgb(1, 24, 58);
  color: white;
}
footer a {
  color: white;
  margin-right: 30px;
}
.page-button {
  display: block; 
  width: 35%;
  margin: 20px auto;
  text-align: center;
  padding: 1%;
  border: 1px solid black;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
.nav-title {
  text-transform: uppercase;
  display: block;
  color: rgb(127, 137, 170);
  font-weight: bold;
}

/******************************************
/* TYPOGRAPHY 
/*******************************************/
header a, 
h1, 
h2 {
  text-transform: uppercase;
  /* font-weight: 400; */
}
h1 {
  font-size: 4rem;
}
.primary-row p{
  font-size: 1.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
footer span{
  line-height: 1.3em;
}