*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --common-spacing: 20px;
    --link-font-size: 18px;
}
header {
    width: 15%;
    height: 100vmax;
    float: left;
    position: sticky;
    /* TODO make the header stick for entire page 
    when page is longer than vmax*/
    border: 1px solid red;
    padding: var(--common-spacing);
}
header li {
    list-style-type: none;
    font-size: var(--link-font-size);
}
header input {
    max-width: 100%;
    border: 0px;
    margin: calc(2*var(--common-spacing)) 0 var(--common-spacing) 0;
    height: var(--link-font-size);
}
a {
    text-decoration: none;
}
.row {
    width: 65%;
    float: left;
    padding: var(--common-spacing);
}
.headline {
    width: 65%;
    float: left;
}
.more {
    /* border: 1px solid blue; */
    width: 35%;
    padding-left: var(--common-spacing);
    float: left;
}
.more li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid grey;
}
.more h1 {
    font-size: var(--link-font-size);
}
.idk-box {
    width: 19%;
    float: left;
    border: 2px solid green;
    margin-top: var(--common-spacing);
}
.box-half {
    border: 2px solid green;
    float: left;
    width: 50%;
} 
.idk-box a {
    display: block;
    text-align: center;
}
.title {
    display: block;
}
.story-latest * {
    float: left;
    width: 30%;
    margin: 3.3% 3.3% 3.3% 0;
}
.story-latest img {
    /* ! forgot property name for image contain */
}