*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
}
a{
    text-decoration: none;
}
 .primary nav {
    padding: 5px;
    /* ! done so there's a little bit of the black background below the links.
    ! doesn't work */
}
.primary-nav ul, .primary-nav li, .primary-nav form, 
.primary-nav input, .primary-nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
}
.primary-nav a {
    border-right: 1px solid white ;
    padding: .35em;
    /* text-align: center; */
    /* ! doesn't center text. idk */
}
.logo li {
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 2px;
}

.sign-in span {
    text-align: left;
    padding-right: 60px;
}
.icon {
    height: 1em;
    vertical-align: middle;
    /* margin: auto; */
}

/*  ====================
    ! Primary row 
    ====================
*/
.primary-row h2 {
    display: inline-block;
}
.date {
    float: right;
    color: #929090;
}

/* .row {
    height: 180px;
} */

.story img {
    width: 100%;
}

.cover, .container-highlights {
    width: 48%;
    float: left;
    /* height: 100%; */
    margin: 5px;
    border: 1px solid black;
    /* ! border is just to see how area of section */
    /* TODO delete later */
}
/* .cover a{
} */
.link-news a{
    height: 80%;
    position: relative;
    /* display: block; */
}
.link-news h1, .link-news span, .highlights h1, .cover .category, .highlights .category{
    position: absolute;
    bottom: 10px;
    /* color: white; */
    /* TODO uncomment this section later to turn text white */

}
.link-news h1 {
    /* top: 100px; */
    top: 0px;
    left: 10px;
}
.cover {
    border: 1px solid red;
}
img {
    /* display: none; */
}
.highlights {
    width: 48%;
    float: left;
}
.highlights h1 {
    top: 100px;
    /* font-size: 10%; */
}
/* .cover a, .highlights a{
    color:white;
} */
/* .extra-news {
    
} */

/*  =================== 
    ! Second row
    ===================
*/
.extra-news{
    width: 30%;
    float: left;
}

/*  ===================
    ! Colors according to category
    ===================
*/
.category {
    display: inline-block; 
    margin: 10px;
    padding-left: 5px;
    border-left: 3px solid var(--category-color);
}
.category-nav:hover {
    border-bottom: 2px solid var(--category-color);
}
.sign-in {
    --category-color: rgb(0, 140, 255);
}
.home, .more {
    --category-color: white;
}
.news {
    --category-color: red;
}
.sport {
    --category-color: yellow;
}
.reel {
    --category-color: rgb(0, 217, 255);
}
.worklife {
    --category-color: rgb(0, 75, 136);
}
.travel {
    --category-color: green;
}
.future {
    --category-color: rgb(117, 144, 202);
}
.culture {
    --category-color: purple;
}
