*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
}
.primary-nav ul, .primary-nav li, .primary-nav form, 
.primary-nav input, .primary-nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
}
.primary-nav a {
    border-right: 1px solid white ;
    padding: .35em;
    /* text-align: center; */
    /* ! doesn't center text. idk */
}
.logo li {
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 2px;
}
.sign-in span {
    text-align: left;
    padding-right: 60px;
}
.sign-in-icon {
    height: 1.3em;
    vertical-align: middle;
    /* margin: auto; */
}
.primary-row h2 {
    display: inline-block;
    vertical-align: middle;
}
.date {
    float: right;
    color: #929090;
}

/* .row {
    height: 180px;
} */
.story-cover{
    width: 48%;
    height: 100%;
    background-image: url("../images/israel-uae.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    border: 1px solid black;
}
/* .thumbnail-text {
    height:50%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5, 0.7));
} */
a{
    /* color:white; */
    /* ! set this only for text that goes inside images*/
    /* ! i.e. story-cover & story-secondary */
    text-decoration: none;
}
.story-cover h3{
    padding-top: 30%;
}
.category {
    display: inline-block; 
    margin: 10px;
    padding-left: 5px;
    border-left: 3px solid var(--category-color);
}
.news {
    --category-color: red;
}